
@import '_bootstrap';

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

$black: rgb(0,0,0);
$red: rgb(204,0,0);
$green: rgb(15,113,0);
$yellow: rgb(204,180,4);

.black {
  color: $black;
}
.red {
  color: $red;
}
.green {
  color: $green;
}
.yellow {
  color: $yellow;
}

.greyed-out {
  color: #ddd;
}

td.right {
  text-align: right;
}

.bid-info {
  float: left;
  width: 50%;
  padding: 0 5px;
}

